.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.faq-question {
  width: 100%;
  text-align: left;
  background: white;
  color: black;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s;
}

.faq-question:hover {
  background:  #ffcc00;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.faq-answer.open {
  max-height: 500px;
}
.faqs{color: #ffcc00; text-align: center;}
.faq-item{color: white;}