#space{ width: 450px;}
#dropdown{background-color: grey; color: white;} 
#navbar-heading{text-align: center; color: white;}
 #navbar-color{background-color: black}
 #text-navbar{color: white; }
 #navbar-button{background-color: white; color:black;}
 #img-logo{width: 80px; height: 80px;}
 
